@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans' sans-serif;
}

.home {
    background-color: #171718;
}
.navar-right .bx{
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
    
}

.blok-con{
    background-color: #171718;
    border: none;
    outline: none;
}



.blok-con:hover{
    display: block;
    width: 300px;
    height: 300px;
    background-color: #1C1E22;

    
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navar {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

ul,
li {
    list-style: none;
    display: flex;
    gap: 23px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
    line-height: 16px;
}

a {
    text-decoration: none;
    color: white;
    


}


.active{
    border-bottom: 3px solid #5C62EC;
}

.navar-right ul li a.active:before {
    transition: all .1s;
  }
.navar-right ul li a:hover {
    border-bottom: 3px solid #5C62EC;
  }


hr{
    width: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #26292D;
}

.navar-left p {
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    cursor: pointer;
}

.navar-right {
    display: flex;
}


.home-login{
    text-align: center;
    border-radius: 8px;
    color: white;
    justify-content: center;
    align-items: center;   
}

.home-login h1{
    padding: 64px 0 16px;
    font-size: 60px;
    font-weight: 700;
    line-height: 71px; 
    letter-spacing: -0.5px;
}

.home-login p{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.login{
    width: 450px;
    height: 550px;
    border-radius: 8px;
    margin: 44px auto;
    padding: 0  24px;
    background-color: #1C1E22;
    justify-content: center;
    align-items: center;
    
    
}

.login label p{
    color: white;
    padding: 24px 0 8px 0;
    
}


.login input{
    background-color: #171718;
    border: 1px solid #A0A0A1;
    outline: none;
    color: #A0A0A1;
    border-radius: 8px;
    padding: 16px 20px;
    width: 400px;
    height: 60px;
}

.login textarea{
    border-radius: 8px;
    width: 400px;
    color: #A0A0A1;
    height: 150px;
    border: 1px solid #A0A0A1;
    background-color: #171718;
    padding: 16px 20px;
}

.log-but__div{
    text-align: center;
    align-items: center;
}

.login-button:active{
    transform: scale(0.97);
}

.login-button{
    width: 400px;
    height: 50px;
    margin: 24px 0;
    padding: 16px 8px;
    background-color: #5C62EC;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}



















.fotter{
    display: flex;
    margin: 64px 0;
}

.fotter-text{
    display: flex;
    padding: 64px 142px 32px 0;
    border-top: 1px solid #26292D;
    border-bottom: 1px solid #26292D;
    height: 300px;
    gap: 130px;
    
    
}

.fotter-text h1{
    color: white;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.text-2{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text1{
    color: #85BFD1;
    cursor: pointer;
}

.text4{
    display: flex;
    padding: 0 0 24px;
    flex-direction: none;
}

.text-4 .text5{
    padding: 0 16px;
}

.data{
    color: white;
    background-color: #171718;
    padding: 0 0 32px;
}






@media screen and (max-width: 1024px) {

    .navar-right .bx{
        display: none;
    }

    .text-4{
        display: flex;
        flex-direction: column;
    }

    .text-4__div{
        display: flex;
        gap: 10px;
    }

  
}


@media screen and (max-width: 768px) {

    .navar-right .bx{
        display: none;
        
    }

    .container{
        width: 90%;
        margin: 0 auto;
    }

    .fotter-text{
        width: 100%;
        gap: 60px;
        padding: 64px 0 32px 0;
    }


}

@media screen and (max-width: 425px) {

    .navar-right .bx{
        display: block;
        
    }

    .navar-right ul{
        display: none;
    }

    .home-login h1{
        padding: 32px 0 16px;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; 
        letter-spacing: 0.25px;
    }
    
    .home-login p{
        width: 90%;
        font-size: 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    .login{
        width: 330px;
        height: 550px;
    }

    .login input{
        width: 280px;
        height: 60px;
    }

    .login textarea{
        width: 280px;
        height: 150px;
    }

    .login-button{
        width: 280px;
        height: 50px;
    }

    .fotter-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 600px;
    }

    .text-4{
        text-align: center;
        align-items: center;
    }

    .text-4__div{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .data p{
        font-size: 12px;
        color: white;
        text-align: center;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.4px;
    }

}